/* editor.css */
.custom-quill {
  height: 500px; /* Set the desired height of the Quill container */
}

.custom-quill .ql-editor {
  min-height: 400px; /* Set the desired minimum height of the editor body */
  max-height: 450px; /* Set the desired maximum height of the editor body */
  overflow-y: auto; /* Enable vertical scrolling if the content exceeds the height */
}
